<!doctype html>
<html lang="en">
  <%- include('./blocks/header') %>
  <body>
    <div class="container">
      <%- include('./blocks/navbar')%>
      <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
