<!doctype html>
<html lang="en">
  <%- include('./blocks/header') %>
  <body>
    <div class="container">
      <%- include('./blocks/navbar') %>
      <div class="row">
        <div class="col-6">
          <input type="text" value="<%= user.token%>" id="myInput">
          <button onclick="myFunction()">Copy text</button>
        </div>
        <div class="col-6">
          <h5>Your endpoint history:</h5>
          <%- JSON.stringify(history)%>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      <script>
        function myFunction() {
          // Get the text field
          var copyText = document.getElementById("myInput");

          // Select the text field
          copyText.select();
          copyText.setSelectionRange(0, 99999); // For mobile devices

          // Copy the text inside the text field
          navigator.clipboard.writeText(copyText.value);

          // Alert the copied text
          alert("Token has been copied");
        }
      </script>
    </div>
  </body>
</html>
