<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/css/boxicon.css" rel="stylesheet" crossorigin="anonymous">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
</head>
