<nav class="navbar navbar-expand-lg" style="box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);background-color: white;z-index:100">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/docs">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://discord.gg/8g6zUQu">Discord</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <% if (user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://cdn.discordapp.com/avatars/<%= user.id%>/<%= user.avatar %>.png?size=32" style="width:25px;height:25px" class="rounded-circle" alt="User avatar"> <%= user.username %>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item text-dark" href="/settings">Settings</a>
              <% if (user.isAdmin) { %>
                <a class="dropdown-item text-dark" href="/admin">Admin</a>
              <% } %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout" id="logout">Logout</a>
            </div>
          </li>
        <% } else { %>
          <li class="navbar-nav">
            <a class="nav-item text-dark nav-link" href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
